:root {
  font-size: 20px;
  font-family: sans-serif;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
}
a{
  color: inherit;
}
.nav-list {
  text-align: center;
  text-transform: capitalize;
  font-size: 0;
}
.nav-list > .nav-item {
  display: inline-block;
}
.nav-item {
  position: relative;
  color: #fff;
  font-size: 1rem;
}
.nav-link{
  display: block;
  padding: 1em 2em;
  background-color: rgb(0, 119, 255);
  text-decoration: none;
}
.nav-list .sub-nav-list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.nav-item:hover>.sub-nav-list{
  display: block;
} 
.nav-item:hover>.nav-link{
  background-color: rgb(0, 54, 124);
}
.nav-list .sub-nav-list  .sub-nav-list{
  width: 100%;
  left: 100%;
  top:0;
}