:root {
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
body {
  height: 3000px;
  padding: 0;
  margin: 0;
}
.container {
  width: 80%;
  /* height: 500px; */
  margin: auto;
  position: relative;
  background-color: bisque;
}
.wrapper {
  width: 70%;
  /* height: 500px; */
  margin: auto;
  /* position: relative; */
  background-color: aqua;
}
div.absolute {
  background-color: yellow;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}
.inner {
  width: 80px;
  height: 80px;
  border: 1px solid #222;

  background-color: pink;

  text-align: center;
}
.relative {
  position: relative;
  left: 10%;
  /* right: -10px; */
  /* top: 10px; */
  /* margin-top: -10px; */
}
.fixed {
  position: fixed;
  /* left:0; */
  right: 30px;
  top: 30px;
  z-index: 999;
}
.sticky {
  position: sticky;
  position: -webkit-sticky;

  top: 0;
  z-index: 9999;
}